<a href="https://colab.research.google.com/github/tarun10898/python_basics/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pattern 1

In [22]:
n = list(map(int, input("Enter the inputs separated by space: ").split()))

def pattern1(n):
    for i in range(n):
        for j in range(n):
            print("*",end="")
        print()
    return
for i in range(len(n)):
    pattern1(n[i])

Enter the inputs separated by space: 3 4 5 7
***
***
***
****
****
****
****
*****
*****
*****
*****
*****
*******
*******
*******
*******
*******
*******
*******

Pattern 2

In [26]:
n = list(map(int , input("enter the number of inputs with space btw them:").split()))
def pattern2(n):
    for i in range(n):
        for j in range(i+1):
            print("*", end=" ")
        print()
for i in range(len(n)):
    pattern2(n[i])

enter the number of inputs with space btw them:2 3 4
*
* *
*
* *
* * *
*
* *
* * *
* * * *

Pattern 3

In [32]:
n = list(map(int , input("enter the number of inputs with space btw them:").split()))
def pattern2(n):
    for i in range(n):
        for j in range(i+1):
            print( j+1, end=" ")
        print()
for i in range(len(n)):
    pattern2(n[i])

enter the number of inputs with space btw them:2 3 4
1
1 2
1
1 2
1 2 3
1
1 2
1 2 3
1 2 3 4

Pattern 4

In [33]:
n = list(map(int , input("enter the number of inputs with space btw them:").split()))
def pattern2(n):
    for i in range(n):
        for j in range(i+1):
            print(i+1, end=" ")
        print()
for i in range(len(n)):
    pattern2(n[i])

enter the number of inputs with space btw them:2 3 5
1
2 2
1
2 2
3 3 3
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Pattern 5

In [38]:
n = list(map(int , input("enter the number of inputs with space btw them:").split()))
def pattern2(n):
    for i in range(n):
        for j in range(n-i):
            print("*", end=" ")
        print()
for i in range(len(n)):
    pattern2(n[i])

enter the number of inputs with space btw them:2 3 4
* *
*
* * *
* *
*
* * * *
* * *
* *
*

Pattern 6

In [40]:
n = list(map(int , input("enter the number of inputs with space btw them:").split()))
def pattern2(n):
    for i in range(n):
        for j in range(n-i):
            print(j+1, end=" ")
        print()
for i in range(len(n)):
    pattern2(n[i])

enter the number of inputs with space btw them:2 3 4
1 2
1
1 2 3
1 2
1
1 2 3 4
1 2 3
1 2
1

Pattern 7

In [68]:
def pyramid(n):
    for i in range(n):
        # Print leading spaces for centering
        print(" " * (n - i - 1), end="")

        # Print stars with spaces in between
        print("* " * (i + 1))

# Take user input
n = list(map(int , input("Enter the height of the pyramid: ").split()))
print(n)
for i in range(len(n)):
    pyramid(n[i])

Enter the height of the pyramid: 6
[6]
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

Pattern 8

In [74]:
def pattern8(n):
    for i in range(n):
        print("*" * (n - i - 1), end=" ")
    print(" ")

# Taking multiple integer inputs
n = list(map(int, input("Enter the values by providing space: ").split()))

# Loop through each value and generate pattern
for num in n:
    pattern8(num)

Enter the values by providing space: 2 3
*
** *